    <div class="row header">
      <div class="attribute">#</div>
      <div class="attribute">Fecha</div>
      <div class="attribute">Concepto</div>
      <div class="attribute">Descripción</div>
      <div class="attribute">Débito</div>
      <div class="attribute">Crédito</div>
      <div class="attribute">Forma de Pago</div>
      <div class="attribute"></div>
    </div>
    <div class="row body">
      <ld-registry-item *ngFor="let registry of registryList; let i = index; trackBy: trackByFn" [index]="i+1" [registry]="registry"></ld-registry-item>
      <div class="registry"><button (click)="newRegistry()">Nuevo</button></div>
    </div>
