    <div class="row header">
      <div class="attribute">Documento</div>
      <div class="attribute">Descripción</div>
      <div class="attribute">Valor</div>
      <div class="attribute">Fecha de Cobro</div>
      <div class="attribute"></div>
    </div>
    <div class="row body">
      <ld-registry-item-cxc *ngFor="let registryItem of registryItemCxcList; let i = index; trackBy: trackByFn"
      [index]="i+1" [registryItem]="registryItem"></ld-registry-item-cxc>
      <div class="registry"><button (click)="newRegistryItem()">Nuevo</button></div>
    </div>
