<section>
	<ul class="nav nav-pills">
		<li [class.selected]="isSet(1)" (click)="setTab(1)">
			<a>{{ month }}</a>
		</li>
		<li [class.selected]="isSet(2)" (click)="setTab(2)">
			<a>Cuentas por Cobrar</a>
		</li>
		<li [class.selected]="isSet(3)" (click)="setTab(3)">
			<a>Cuentas por Pagar</a>
		</li>
	</ul>

	<!--  Month Tab's Content  -->
  <ld-month [registryItemList]="registryItemList" [listManager]="listManager" [hidden]="!isSet(1)"></ld-month>

	<!--  CXC Tab's Content  -->
	<ld-cuentas-por-cobrar [registryItemList]="registryItemList" [hidden]="!isSet(2)"></ld-cuentas-por-cobrar>

	<!--  CXP Tab's Content  -->
	<ld-cuentas-por-pagar [registryItemList]="registryItemList" [hidden]="!isSet(3)"></ld-cuentas-por-pagar>
</section>
