    <div class="row registry">
      <div class="attribute">
        <span class="no-editable" [hidden]="registryItem.editable">{{ registryItem.registry.document }}</span>
        <input type="text" [hidden]="!registryItem.editable" [(ngModel)]="registryItem.registry.document">
      </div>
      <div class="attribute">
        <span class="no-editable" [hidden]="registryItem.editable">{{ registryItem.registry.description }}</span>
        <input type="text" [hidden]="!registryItem.editable" [(ngModel)]="registryItem.registry.description">
      </div>
      <div class="attribute">
        <span class="no-editable" [hidden]="registryItem.editable">{{ registryItem.registry.debit }}</span>
        <input type="number" [hidden]="!registryItem.editable" [(ngModel)]="registryItem.registry.debit">
      </div>
      <div class="attribute">
        <span class="no-editable" [hidden]="registryItem.editable">{{ formatDate(registryItem.registry.pamentDate) }}</span>
        <input type="date" [hidden]="!registryItem.editable"
        [ngModel]="registryItem.registry.pamentDate | date:'y-MM-dd'" (ngModelChange)="registryItem.registry.pamentDate = getDate($event)">
      </div>
      <div class="attribute">
          <button class="no-editable" [hidden]="registryItem.editable" (click)="toogleEditable()">Editar</button>
          <button [hidden]="!registryItem.editable" (click)="toogleEditable()">Guardar</button></div>
    </div>
