body {
    font-size: 13px;
}

/**
TABS
*/
ul.nav.nav-pills,
ul.nav.nav-pills>li {
    display: flex;
    justify-content: center;
    padding: 0;
}

ul.nav.nav-pills>li {
    flex: 1;
    cursor: pointer;
    border: solid 1px gray;
    border-bottom: none;
    border-left: none;
    border-radius: 20px;
    padding-top: 10px;
}

ul.nav.nav-pills>li.selected {
  margin-top: -5px;
  background-color: #ededed;
}


/**
MONTH
*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row.body {
    flex-direction: column;
}

.attribute {
    padding: 0px 4px;
    text-align: center;
}

.attribute>input {
    width: 100%;
}

.attribute:nth-child(1),
.attribute:nth-child(8) {
    min-width: 80px;
    max-width: 80px;
}

.attribute:nth-child(2),
.attribute:nth-child(3),
.attribute:nth-child(7) {
    min-width: 136px;
    max-width: 136px;
}

.attribute:nth-child(4),
.attribute:nth-child(5),
.attribute:nth-child(6) {
    min-width: 150px;
    max-width: 150px;
}

select {
    min-width: 80px;
    max-width: 80px;
}

input[type=date] {
    width: 130px;
}

ld-registry-item {
    border-bottom: solid 1px gray;
    padding: 8px 0px 3px;
}

.row.body>.registry:last-child {
    display: flex;
    justify-content: center;
    margin: 5px;
}

input {
    height: 18px;
    border: solid 1px gray;
}

button {
    width: 80px;
}

select, button {
    height: 22px;
    border: solid 1px gray;
}

input, button, select {
    padding: 1px;
    border-radius: 20px;
}

.row.header>.attribute {
    text-align: center;
}

.row.header {
    background-color: #59a4b1;
}


