body {
    font-size: 13px;
}

.row {
    display: flex;
}

.row.body {
    flex-direction: column;
}

.attribute {
    flex-basis: 10%;
    padding: 0px 4px;
    text-align: center;
}

.attribute>input {
    width: 100%;
}

.attribute:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
}

.attribute:nth-child(2), .attribute:nth-child(7) {
    min-width: 136px;
    max-width: 136px;
}

select {
    min-width: 80px;
    max-width: 80px;
}

input[type=date] {
    width: 130px;
}

ld-registry-item {
    border-bottom: solid 1px gray;
    padding: 8px 0px 3px;
}

.row.body>.registry:last-child {
    display: flex;
    justify-content: center;
    margin: 5px;
}

input {
    height: 18px;
    border: solid 1px gray;
}

button {
    width: 80px;
}

select, button {
    height: 22px;
    border: solid 1px gray;
}

input, button, select {
    padding: 1px;
    border-radius: 20px;
}

.row.header>.attribute {
    text-align: center;
}

.row.header {
    background-color: #59a4b1;
}
